.my-nav{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(247, 247, 247);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 7%;
    min-height: 15vh;
}

li,a, button{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #899BCE;
    text-decoration: none;
}

.logo{
    cursor: pointer;
    /* shift logo to left */
    margin-right: auto;
}

.nav-links{
    list-style: none;
}

.nav-links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #da8bbe;
    text-decoration: none;
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(110, 110, 110);
    margin: 5px;
    transition: all 0.3s ease;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

@media only screen and (max-width: 480px) {
    body{
        overflow-x: hidden;
    }

    .nav-links{
        position: absolute;
        right: 0px;
        top: 15vh;
        height: 92vh;
        background-color: rgb(247, 247, 247);
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li{
        opacity: 0;
    }

    .burger{
        display: block;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle-nav .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle-nav .line2{
   opacity: 0; 
}
.toggle-nav .line3{
    transform: rotate(45deg) translate(-5px, -6px);

}
/* Nav End */

p{
    font-family: 'Rosario', sans-serif;
}

.hero-text h1{
    font-family: 'Roboto', sans-serif;
    font-size: 6rem;
    letter-spacing: 5px;
}

.hero-text h4{
    font-family: 'Rosario', sans-serif;
    font-size: 4rem;
}


.hero{
    width: 100vw;
    height: 100vh;
    background-color: #E0BBD3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background: url('../images/pictures/hero-background2.png') 0 0 no-repeat; */
}

.hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.white-text{
    color: white;
}

.section{
    margin: 2rem;
    padding: 3rem;
}

/* products */
.products{
    height: 100vh;
}

.gray-back{
    background-color: #EFEFEF;
}

.selfie{
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    object-fit: cover;
    object-position: 0 40%;
    margin-top: 4rem;
    margin-bottom: 1rem;

    /* center image */
    margin-left: auto;
    margin-right: auto;
    display: block;

    border-width: 0.5rem;
    border-color: #ffffff;
    border-style: solid;
    box-shadow: 0 4px 8px 0 #dbdbdb, 0 6px 20px 0 #dbdbdb;
}

.contact{
    display: flex;
    flex-direction: column;
}

.contact p {
    width: 35vw;
    height: 100vh;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.contact-form{
    height: 10px;
}

footer{
    background-color: #E0BBD3;
    min-height: 30vh;
    padding: 30px 10%;
    display: flex;
    flex-direction: column;
}

ul{
    list-style: none;
}

footer a{
    transition: all 0.3s ease 0s;
}

footer a:hover{
    color: white;
    text-decoration: none;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
}

ul{
    list-style: none;
}

footer a{
    transition: all 0.3s ease 0s;
}

footer a:hover{
    color: white;
    text-decoration: none;
}

@media only screen and (max-width: 480px) {

    .hero{
        width: 100vw;
        height: 80vh;
        /* background-color: #E0BBD3; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-image: none;
        overflow-y: hidden;
    }

    .hero-background{
        background: url('../images/pictures/hero-mobile.png') 0 0 no-repeat;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }


    .hero-text h1{
        font-size: 3rem;
        letter-spacing: 5px;
    }
    
    .hero-text h4{
        font-size: 2rem;
    }

    .selfie{
        width: 15rem;
        height: 15rem;
        margin-top: 2rem;
        border-width: 0.4rem;
    }
}