.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
    color: red;
}
  
.navbar {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 100vw;
}

.navbar-nav{
    position: absolute;
    top: 3rem;
    right: 3rem;
}

.navbar-nav li{
    float: right;
    font-size: 26px;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    letter-spacing: 1px;
    margin-left: 1.5rem;
}

p{
    font-family: 'Rosario', sans-serif;
}

.hero{
    width: 100vw;
    height: 60vw;
    background-color: #E0BBD3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.white-text{
    color: white;
}


/* products */
.products{
    height: 100vh;
}