.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}
  
.navbar {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 100vw;
}

.navbar-nav{
    position: absolute;
    top: 3rem;
    right: 3rem;
}

.navbar-nav li{
    float: right;
    font-size: 26px;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    letter-spacing: 1px;
    margin-left: 1.5rem;
}

p{
    font-family: 'Rosario', sans-serif;
}

.hero{
    width: 100vw;
    height: 60vw;
    background-color: #E0BBD3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.white-text{
    color: white;
}

.section{
    margin: 2rem;
    padding: 3rem;
}

/* products */
.products{
    height: 100vh;
}

.gray-back{
    background-color: #EFEFEF;
}

.selfie{
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    object-fit: cover;
    object-position: 0 40%;
    margin-top: 4rem;
    margin-bottom: 1rem;

    /* center image */
    margin-left: auto;
    margin-right: auto;
    display: block;

    border-width: 0.5rem;
    border-color: #ffffff;
    border-style: solid;
    box-shadow: 0 4px 8px 0 #dbdbdb, 0 6px 20px 0 #dbdbdb;

}

.contact{
    display: flex;
    flex-direction: column;
}

.contact p {
    width: 35vw;
    height: 100vh;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.contact-form{
    height: 10px;
}